@import url('index.css');

.formulario {
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 400px auto;
    border: 1px solid black;
    border-radius: 50px;
    align-items: center;
    background-color: aqua;
}

.formulario-container {
    background-color: white;
    align-self: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 15px 15px 15px;
    width: 90%;
    height: 100%;
}





.formulario-container form label{
    margin: 10px 0 5px 0;
    font-size: 18px;
}

input[type="text"],[type="email"] {
    width: auto;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

textarea {
    border: 1px solid black;
    border-radius: 5px;
}

.formulario-container input{
    padding : 4px;
}

.formulario-container form{
    margin: 0;
}

#Enviar {
    align-self: center;
    margin-top: 10px;
    width: 30%;
}